@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@700&display=swap');

header {
    height: 67vh;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    padding: 25px;
    background-color: #003c529f;
    position: absolute;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5em;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
    transition: all 0.4s ease-out;
}


.titulo {
    margin-top: 50px;
    font-family: 'Expletus Sans', cursive;
    font-weight: bold;
    color: #F46A61;
    letter-spacing: 5px;
    font-size: 7em;
}

.subtitulo {
    color: #f4f4f4;
}


.moreInfo {
    font-size: 1.5em;
    padding: 1% 5%;
    border: 5px solid #f46a61;
    outline: none;
    color: #ffff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.moreInfo:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 11px;
}

.moreInfo:hover:before {
    opacity: 1;
}

.moreInfo:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.nav-item img {
    margin-top: 5px;
    height: 3rem;
    width: 3rem;
}

#langEs,
#LangEng {
    text-decoration: none;
}