footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

iframe {
    border-radius: 10px;
}

.footer__Direccion p {
    font-size: 1.5em;
}

a {
    color: #ffff;
}

a:hover {
    color: #ffff;
}

.contacto {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
}